{% extends 'base.html' %}
{% block head %}
    <title>Список товаров</title>
{% endblock %}
{% block content %}
     {% for item in items %}
         <p>{{ item.title }}</p>
         <p>{{ item.description }}</p>
         <p>{{ item.price }}</p>
         <p>{{ item.category.name }}</p>
     {% endfor %}
{% endblock %}